.my-caption
{

    bottom: 200px;
    background: rgba(0,0,0,0.1);
    padding-left: 20px;
    padding-right: 20px;
}

.h-200 { height: 200px;}
.h-50 { height: 50px;}
.h-550 { height: 550px;}
.h-250 { height: 250px;}
.h-165 { height: 165px;}
.h-100 { height: 100px;}
.h-150 { height: 150px;}
.p-size{ font-size: 14px;}